Q1. Create a python program to sort the given list of tuples based on integer value using a
lambda function.

[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [2]:
l1 = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]
re = sorted(l1, key = lambda x : x[1])
print(re)

[('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 34357)]

Write a Python Program to find the squares of all the numbers in the given list of integers using
lambda and map functions.
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [4]:
a=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
b=list(map(lambda a:a**2,a))
print(b)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Write a python program to convert the given list of integers into a tuple of strings. Use map and
lambda functions
Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Expected output: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [6]:
a=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
b=list(map(lambda a: str(a),a))
print(b)

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

Write a python program using reduce function to compute the product of a list containing numbers
from 1 to 25.

In [10]:
import functools
l = [x for x in range(1,26)]
print("reduce to compute sum : ", functools.reduce(lambda a, b: a+b, l))

reduce to compute sum :  325

Q5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the
filter function.
[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [13]:
l1 = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]
re = list(filter(lambda x: (x % 2 == 0) and ((x % 3 == 0) ), l1))
print("Numbers divisible by 3 and 2 are",re)

Numbers divisible by 3 and 2 are [6, 60, 90, 120]

Q6. Write a python program to find palindromes in the given list of strings using lambda and filter
function.
['python', 'php', 'aba', 'radar', 'level']

In [14]:
a=['python', 'php', 'aba', 'radar', 'level']
print(list(filter(lambda x: (x == "".join(reversed(x))), a)))

['php', 'aba', 'radar', 'level']